/*imports font*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Concert+One&family=Rubik+Doodle+Shadow&family=Silkscreen&display=swap');


body {
  position: inherit;
  width: 100vw;
  height: 100vh;
  background: #4fc96e;
  overflow: inherit;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(300deg,deepskyblue,darkviolet,blue);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

h1 {
	font-family: "Rubik Doodle Shadow";
	color: white;
	text-shadow: 3px 3px 7px black;
}


.one {
  font-size: 60px;
}

/*iframe {
  -moz-width: 560px; 
  -webkit-height: 315px;
  border-radius: 2%;
  overflow: hidden;
  position: relative;
}*/


a {
	text-decoration: none;


}
.rate {
  font-size: 50px;
  margin: 50px;
  line-height: 0px;
}

.checked {
  color:orange;
}



p {
	font-family:"Concert One";
    
    color: ghostwhite;
    margin: 10px;
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}